 @import url(https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
 @import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
 @import url(https://fonts.googleapis.com/css?family=Nunito:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
 



 .main-left, .main-right, .second-main, .third-main {
  width: 100%;      
  box-sizing: border-box;
}


 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans";
 }

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 77px 124px 77px 124px;

 }

 .navigation {
    display: flex;
    align-items: center;
    gap: 106px;
}

a{
    text-decoration: none;
    color: black;
}
.main-icons{
    display: flex;
    gap: 85px;
}

.logo {
    font-weight: 900;
}

.discover{
    border: none;
    background-color: red;
    font-family: "Montserrat";
    color: white;
    width: 207px;
    height: 78px;
    font-weight: 600;
    font-size: 22px;
    transition: .5s all ease;

}

.discover:hover {
    background-color: black;
    cursor: pointer;
}

.rect{
    display: flex;
    position: absolute;
    opacity:0;
    animation: appear1 1s ease forwards;

}

@keyframes appear1 {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.main-left>h2 {
    display: flex;
    color: #F7515C;
    font-weight: 700;
    font-size: 20px;


}

.main{
    padding: 0px 100px;
    display: flex;
    justify-content: space-between;
    
}

.main-left>p{
    display: flex;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 55px;
    margin-bottom: 47px;


}
.main-left>h2 {
    transition: .5s all ease;
}

.main-left>h2:hover{
    color: black;
}

.button-right{
    align-items: center;
    display: flex;
    gap: 24px;
}

.button-right>span{
    font-family: Montserrat;
    font-weight: 600;
    font-size: 22px;
    transition: .5s all ease;
    cursor: pointer;
}
.button-right>span:hover{
    color: red;
}

.buttons{
    display: flex;
    align-items: center @import url(https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
 @import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
 @import url(https://fonts.googleapis.com/css?family=Nunito:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
 
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans";
 }

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 77px 124px 77px 124px;

 }

 .navigation {
    display: flex;
    align-items: center;
    gap: 106px;
}

a{
    text-decoration: none;
    color: black;
}
.main-icons{
    display: flex;
    gap: 85px;
}

.logo {
    font-weight: 900;
}

.discover{
    border: none;
    background-color: red;
    font-family: "Montserrat";
    color: white;
    width: 207px;
    height: 78px;
    font-weight: 600;
    font-size: 22px;
    transition: .5s all ease;

}

.discover:hover {
    background-color: black;
    cursor: pointer;
}

.rect{
    display: flex;
    position: absolute;
    opacity:0;
    animation: appear1 1s ease forwards;

}

@keyframes appear1 {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.main-left>h2 {
    display: flex;
    color: #F7515C;
    font-weight: 700;
    font-size: 20px;


}

.main{
    padding: 0px 100px;
    display: flex;
    justify-content: space-between;
    
}

.main-left>p{
    display: flex;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 55px;
    margin-bottom: 47px;


}
.main-left>h2 {
    transition: .5s all ease;
}

.main-left>h2:hover{
    color: black;
}

.button-right{
    align-items: center;
    display: flex;
    gap: 24px;
}

.button-right>span{
    font-family: Montserrat;
    font-weight: 600;
    font-size: 22px;
    transition: .5s all ease;
    cursor: pointer;
}
.button-right>span:hover{
    color: red;
}

.buttons{
    display: flex;
    align-items: center;
    gap: 67px;
}

.circle-for-triangle{
    box-shadow: 0px 4px 70px 0px #00000026;
    width: 58px;
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.main-left>h2 {
    padding-top: 112px;
    padding-bottom: 62px;
}

.second-main {
    display: flex;
    padding-top: 319px;
    gap: 20px;
}

.left-second-main{
    position: relative;
}
.paint{
    padding-left: 100px;
    position: relative;
}

.right-second-main{
    padding-top: 52px;
    padding-left: 128px;
}

.mainheader{
    font-family: Montserrat;
    font-weight: 700;
    font-size: 60px;
}


.mainheader2{
    padding-bottom: 55px;

}

.second-main-text {
    font-weight: 400;
    size: 22px;
    font-family: "Nunito";
    color: #282A3080;
    line-height: 2.0;
    padding-bottom: 74px;
}

.read-more-button {
    border: none;
    width: 230px;
    height: 78px;
    color: white;
    background-color: red;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 22px;
    transition: .5s all ease;
}

.read-more-button:hover{
    background-color: black;
    cursor: pointer;
}

.black1{
    position:absolute;
    top: 521px;
    left: 52px;
    right: 1183px;
    z-index: -1;
}

.black2{
    position: absolute;
    top: 332px;
    left: 192px;
    right: 808px;
    z-index: -1;
}

.dotes{
    z-index: 2;
    display: block;
    position: absolute;
    top: 504px;
    left: 192px;
    right: 765px;
    transform: rotate(90);
}

.main-right{
    animation: appear 1s ease forwards;
}

@keyframes appear {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.nav-1{
    transition: .5s all ease;
}

.nav-1:hover{
    color: red;
    transform: scale(2);
}

.nav-2{
    transition: .5s all ease;
}

.nav-2:hover{
    color: red;
    transform: scale(2);

}

.nav-3{
    transition: .5s all ease;
}

.nav-3:hover{
    color: red;
    transform: scale(2);

}

.nav-4{
    transition: .5s all ease;
}

.nav-4:hover{
    color: red;
    transform: scale(2);

}


.third-main{
    padding-top: 206px;
    padding-left: 40px;
}

.description>img{
    padding-left: 95px;
}

.description>h1{
    padding-top: 206px;
    padding-left: 95px;
    font-family: Montserrat;
    width: 428;
    height: 49;
    font-weight: 600;
    font-size: 40px;

}
.furniture2{
    padding-left: 5px;
    padding-bottom: 20px;
}

.banner3{
    position: relative;
}
.photo3{
    padding-top: 87px;
    padding-left: 216px;
    width: 1009px;
    height: 577px;
    position: relative;




}

.fservices{
    position: absolute;
    z-index: 2;
    top: 90px;
    left: 10px;
    width: 449;
    height: 199;
}

.lwarranty{
    position: absolute;

    z-index: 2;
    top: -50px;
    left: 660px;
    right: 380px;
    width: 449;
    height: 199;

}

.mdesign{
    position: absolute;
    z-index: 2;
    left: 800px;
    top: 420px;
}


.main4{
    padding-top: 165px;
    padding-left: 95px;
    position: relative;

}

.main4>h1{
    font-family: "Montserrat";
    padding-top: 100px;
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 10px;
}

.leftbut{
    position: absolute;
    left: 1300px;
    width: 50px;
    height: 50px;
    border: none;
    background:none;
}


.rightbut{
    position: absolute;
    top: 200px;
    left: 1300px;
    width: 500px;
    height: 50px;
    border: none;
    background:none;
}


.Product{
    position: absolute;
}

@media (max-width: 768px) {
    .navigation{
        display: none;
    }
    .main-icons{
        display: none;
    }

    .burger{
        display: block;
    }

    .main{
        display: block;
    }
}


.burger-checkbox {
  position: absolute;
  visibility: hidden;
}
.burger {
  cursor: pointer;
  display: block;
  position: relative;
  border: none;
  background: transparent;
  width: 40px;
  height: 26px;
  margin: 30px auto;
}
.burger::before,
.burger::after {
  content: '';
  left: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 10px;
  background: #000;
}
.burger::before {
  top: 0;
  box-shadow: 0 11px 0 #000;
  transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
}
.burger::after {
  bottom: 0;
  transition: bottom .3s .15s, transform .3s;
}
.burger-checkbox:checked + .burger::before {
  top: 11px;
  transform: rotate(45deg);
  box-shadow: 0 6px 0 rgba(0,0,0,0);
  transition: box-shadow .15s, top .3s, transform .3s .15s;
}
.burger-checkbox:checked + .burger::after {
  bottom: 11px;
  transform: rotate(-45deg);
  transition: bottom .3s, transform .3s .15s;
}

@media (min-width: 769px) {
  .menu {
    display: none; /* на больших экранах убираем */
  }
};
    gap: 67px;
}

.circle-for-triangle{
    box-shadow: 0px 4px 70px 0px #00000026;
    width: 58px;
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.main-left>h2 {
    padding-top: 112px;
    padding-bottom: 62px;
}

.second-main {
    display: flex;
    padding-top: 319px;
    gap: 20px;
}

.left-second-main{
    position: relative;
}
.paint{
    padding-left: 100px;
    position: relative;
}

.right-second-main{
    padding-top: 52px;
    padding-left: 128px;
}

.mainheader{
    font-family: Montserrat;
    font-weight: 700;
    font-size: 60px;
}


.mainheader2{
    padding-bottom: 55px;

}

.second-main-text {
    font-weight: 400;
    size: 22px;
    font-family: "Nunito";
    color: #282A3080;
    line-height: 2.0;
    padding-bottom: 74px;
}

.read-more-button {
    border: none;
    width: 230px;
    height: 78px;
    color: white;
    background-color: red;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 22px;
    transition: .5s all ease;
}

.read-more-button:hover{
    background-color: black;
    cursor: pointer;
}

.black1{
    position:absolute;
    top: 521px;
    left: 52px;
    right: 1183px;
    z-index: -1;
}

.black2{
    position: absolute;
    top: 332px;
    left: 192px;
    right: 808px;
    z-index: -1;
}

.dotes{
    z-index: 2;
    display: block;
    position: absolute;
    top: 504px;
    left: 192px;
    right: 765px;
    transform: rotate(90);
}

.main-right{
    animation: appear 1s ease forwards;
}

@keyframes appear {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.nav-1{
    transition: .5s all ease;
}

.nav-1:hover{
    color: red;
    transform: scale(2);
}

.nav-2{
    transition: .5s all ease;
}

.nav-2:hover{
    color: red;
    transform: scale(2);

}

.nav-3{
    transition: .5s all ease;
}

.nav-3:hover{
    color: red;
    transform: scale(2);

}

.nav-4{
    transition: .5s all ease;
}

.nav-4:hover{
    color: red;
    transform: scale(2);

}


.third-main{
    padding-top: 206px;
    padding-left: 40px;
}

.description>img{
    padding-left: 95px;
}

.description>h1{
    padding-top: 206px;
    padding-left: 95px;
    font-family: Montserrat;
    width: 428;
    height: 49;
    font-weight: 600;
    font-size: 40px;

}
.furniture2{
    padding-left: 5px;
    padding-bottom: 20px;
}

.banner3{
    position: relative;
}
.photo3{
    padding-top: 87px;
    padding-left: 216px;
    width: 1009;
    height: 577;
    position: relative;




}

.fservices{
    position: absolute;
    z-index: 2;
    top: 90px;
    left: 10px;
    width: 449;
    height: 199;
}

.lwarranty{
    position: absolute;

    z-index: 2;
    top: -50px;
    left: 660px;
    right: 380px;
    width: 449;
    height: 199;

}

.mdesign{
    position: absolute;
    z-index: 2;
    left: 800px;
    top: 420px;
}


.main4{
    padding-top: 165px;
    padding-left: 95px;
    position: relative;

}

.main4>h1{
    font-family: "Montserrat";
    padding-top: 100px;
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 10px;
}

.leftbut{
    position: absolute;
    left: 1300px;
    width: 50px;
    height: 50px;
    border: none;
    background:none;
}


.rightbut{
    position: absolute;
    top: 200px;
    left: 1300px;
    width: 500px;
    height: 50px;
    border: none;
    background:none;
}


.Product{
    position: absolute;
}

@media (max-width: 768px) {
  header {
    padding: 20px;
  }

  .right-second-main{
    padding-left: 250px;

  }
  .menu {
    padding-left: 300px;
  }

  .checkbox {
    display: none;
  }

  .navigation {
    display: none;
  }

  .main-icons {
    display: none;
  }

  .burger {
    display: block;
  }

  .description > img {
    padding-left: 0;
  }

  .main {
    flex-direction: column;
    padding: 20px 40px;
  }

  .main-right {
    display: none;
  }

  .button-right {
    position: absolute;
    padding-left: 300px;
  }

  .main-left {
    text-align: left;
  }

  .main-left > h2 {
    padding-top: 0;
  }

  .main-left > p {
    font-size: 28px;
    margin-bottom: 20px;
  }

  .buttons {
    flex-direction: column;
    gap: 20px;
  }

  .second-main {
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
  }

  .furniture2 {
    padding-left: 0;
    padding-bottom: 20px;
  }

  .banner3 {
    position: relative;
    height: auto;
    width: 100%;
  }

  .mainheader {
    font-size: 36px;
  }

  .third-main {
    padding-left: 30px;
  }

  .description > h1 {
    font-size: 28px;
    padding: 0;
    text-align: center;
  }

  .photo3 {
    width: 500px;
    padding: 20px 0;
  }
  .fservices{
    top: 10px;
  }
  .lwarranty{
    top: 10px;
    left: 250px;
  }
  .mdesign{
    top: 150px;
    left: 10px;
  }

  .fservices,
  .lwarranty,
  .mdesign {
    position: absolute;
    display: block;
    width: 100%;
    height: auto;
  }
}


.burger-checkbox {
  position: absolute;
  visibility: hidden;
}
.burger {
  cursor: pointer;
  display: block;
  position: relative;
  border: none;
  background: transparent;
  width: 40px;
  height: 26px;
  margin: 30px auto;
}
.burger::before,
.burger::after {
  content: '';
  left: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 10px;
  background: #000;
}
.burger::before {
  top: 0;
  box-shadow: 0 11px 0 #000;
  transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
}
.burger::after {
  bottom: 0;
  transition: bottom .3s .15s, transform .3s;
}
.burger-checkbox:checked + .burger::before {
  top: 11px;
  transform: rotate(45deg);
  box-shadow: 0 6px 0 rgba(0,0,0,0);
  transition: box-shadow .15s, top .3s, transform .3s .15s;
}
.burger-checkbox:checked + .burger::after {
  bottom: 11px;
  transform: rotate(-45deg);
  transition: bottom .3s, transform .3s .15s;
}

@media (min-width: 769px) {
  .menu {
    display: none; /* на больших экранах убираем */
  }
}